<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="field">
    <label for="email" class="d-block">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      pInputText
      formControlName="email"
      [ngClass]="{ 'is-invalid': email?.touched && email?.errors }"
    />
    <small class="text-danger" *ngIf="email?.touched && email?.errors?.['required']">Email is required</small>
    <small class="text-danger" *ngIf="email?.touched && email?.errors?.['email']">Email must be valid</small>
  </div>
  <div class="field mt-3">
    <label for="password" class="d-block">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      pInputText
      formControlName="password"
      [ngClass]="{ 'is-invalid': password?.touched && password?.errors }"
    />
    <small class="text-danger" *ngIf="password?.touched && password?.errors?.['required']">Password is required</small>
  </div>
  <small class="d-block text-danger mt-3" *ngIf="error$ | async as error">{{ error }}</small>
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
