/* You can add global styles to this file, and also import other style files */
@import './styles/theme';

:root {
  --primary-500: #3f51b5;
  --accent-500: #ff4081;
  --warn-500: #f44336;
}
html,
body {
  height: 100%;
  margin: 0;
}
