<p-menubar [model]="items" *ngIf="user$ | async as user">
  <ng-template pTemplate="start">
    <a routerLink="" class="logo mr-3"> <i class="fa-solid fa-building"></i></a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center">
      <input type="text" class="mr-2" pInputText placeholder="Search" />
      <span class="link" (click)="login.toggle($event)" *ngIf="!user.user"
        ><i class="fa-solid fa-right-to-bracket mr-2"> </i>Login / Register</span
      >
      <span (click)="logoff()" class="cursor-pointer text-primary-500" *ngIf="user.user"
        ><i class="fa-solid fa-power-off block text-center text-2xl"></i> Log Off</span
      >
    </div>
  </ng-template>
</p-menubar>

<p-overlayPanel #login [dismissable]="false">
  <ng-template pTemplate>
    <starter-login [overlay]="login"></starter-login>
  </ng-template>
</p-overlayPanel>
