:host {
  display: block;
  background-color: var(--gray-300);
  position: fixed;
  width: 100%;
}

.logo {
  color: var(--primary-500);
  display: block;
  font-size: 2rem;
}

.logoff {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--primary-500);
  cursor: pointer;

  &:hover {
    color: var(--primary-600);
  }
}
