.sidenav-container {
  min-height: calc(100vh - 10rem);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}

.mat-drawer-container {
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon-right {
  margin-right: 0.5rem;
}
