:host {
  display: block;
}

.register-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.btn-group {
  margin-top: 1rem;
}

.spinner-icon {
  display: inline-block;
}
